<footer class="bg-dark text-white py-4 ">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5 class="mb-2">Contact Info</h5>
        <address>
          <div class="email--div">
            <fa-icon [icon]="faEnvelope" class=""></fa-icon>
            <a href="seifadelcs22&#64;gmail.com" class=""
              >seifadelcs22&#64;gmail.com</a
            >
          </div>

          <div class="email--div">
            <fa-icon [icon]="faPhone" class=""></fa-icon>
            <a href="tel:+0201098952873" class=""> +01098952873</a> |
            <a href="https://wa.me/01098952873" class="">WhatsApp</a>
          </div>

          <div class="email--div">
            <fa-icon [icon]="faGithub" class=""></fa-icon>
            <a target="_blank" href="https://github.com/seif416">
              GitHub
            </a>
          </div>
        </address>
      </div>
      

      <div class="col-md-4">
        <h5>About Me</h5>
        <p>
          A passionate web developer with a keen eye for design and a knack for
          creating seamless user experiences.
        </p>
      </div>
    </div>
    
  </div>
</footer>
