<section class="skills bg-dark">
    <div class="container">
      <div class="jumbotron">
        <h1 class="display-3 text-center text-light mb-3">My Skills</h1>
        <p class="text-light text-center">
          Expert in front-end technologies including HTML, CSS, JavaScript,
          and Angular. Proficient in back-end development with Node.js, and
          experienced in databases like MongoDB and MySQL. Skilled in eCommerce.
        </p>
        <hr />
      </div>
      <div class="row">
        <div class="soft-data-skills col-lg-6 text-light">
          <h2>Soft Skills</h2>
          <ul>
            <li>Effective Communication</li>
            <li>Team Collaboration</li>
            <li>Problem-Solving</li>
            <li>Time Management</li>
            <li>Adaptability</li>
          </ul>
        </div>
        <div class="col-lg-6">
          <h2 class="display-5 text-info my-4">SEIF ALDEEN ADEL</h2>
          <div class="mb-3">
            <label class="text-light">HTML & CSS</label>
            
          </div>
          <div class="mb-3">
            <label class="text-light">JavaScript </label>
            
          </div>
          <div class="mb-3">
            <label class="text-light"> Angular </label>
            
          </div>
          <div class="mb-3">
            <label class="text-light">TypeScript </label>
            
          </div>
          <div class="mb-3">
            <label class="text-light">MongoDB </label>
            
          </div>
          <div class="mb-3">
            <label class="text-light"> NodeJs </label>
            
          </div>
          <div class="mb-3">
            <label class="text-light"> Bootstrap </label>
            
          </div>
        </div>
      </div>
    </div>
  </section>
  